<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.ansis.floorplan.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.ansis.floorplan.app.Perspective"
            id="com.ansis.floorplan.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ansis.floorplan.core.MyGraphicalEditor"
            contributorClass="com.ansis.floorplan.core.MyGraphicalEditorActionBarContributor"
            default="true"
            id="myGraphicalEditor"
            name="Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.ansis.floorplan.editorAction"
            targetID="myGraphicalEditor">
         <action
               class="com.ansis.floorplan.core.action.ImportImageAction"
               hoverIcon="icons/back.png"
               id="com.ansis.floorplan.importImage.action"
               label=" "
               state="true"
               style="push"
               toolbarPath="additions"
               tooltip="Import Image">
         </action>
      </editorContribution>
   </extension>

</plugin>
